<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167272713593-eema4b84g89pkoi86eksg0ei4tr04ikf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167272713593-eema4b84g89pkoi86eksg0ei4tr04ikf</string>
	<key>API_KEY</key>
	<string>AIzaSyAXZII7RxBefCpzmDGgDlk3Ctdut9n7p-U</string>
	<key>GCM_SENDER_ID</key>
	<string>167272713593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>comHashim.MessageAppClone</string>
	<key>PROJECT_ID</key>
	<string>chatappcloned</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappcloned.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167272713593:ios:b7d10a64ca7d4a4023b3a8</string>
</dict>
</plist>